
# Initial Study Verification

When you finished the steps to select the study type and fill in the study information, **please contact us for an initial verification** at vbl@vu.nl.     

- If there are any study information we would like you to change, we will notify you.       
- When the necessary changes are incorporated, please email us, so that we can carry out the verification procedure again.     
- Once we give you a green light, you can continue with the next steps.     

>[!info] <i class="fa-solid fa-info"></i> &nbsp Checklist for All Studies
>- Checking the study on SONA in regards to selected study type among the types of studies, study name, brief abstract, and all the other items in "fill in the study information".  
>- Checking if you have incorporated [attention checks](attention-checks) in your survey. Even though this is not mandatory, we strongly advise you to do so, as the process of [granting or denying payment](granting-or-denying-payment) will be much easier for you.
>- Checking your **pre-screening** survey, if you have any.

>[!info] <i class="fa-solid fa-info"></i> &nbsp Additional Checklist Items for Physical Lab Studies
>- For any survey software (e.g., Qualtrics), the **blocking of the same IP address should be disabled**, as the same computers in our physical lab location will be used multiple times.

Please note that **if you are running a physical lab study, this initial verification will not lead to the [study launch](study-launch)**, and you will still have a couple of steps to complete after we give you a positive return.        
