
When you finished the steps to select the study type and fill in the study information, **please contact us for an initial verification** at vbl@vu.nl. 

>[!info]- Checklist for All Studies
>- Checking the study on SONA in regards to selected study type among the [[types of studies]], [[study name]], [[brief abstract]], and all the other items in "[[fill in the study information]]".
>- Checking the **pre-screeners** you have selected, if you have selected any, and your justification for them.
>- Checking if you have incorporated [[Attention Checks]] in your survey. Even though this is not mandatory, we strongly advise you to do so, as the process of [[Granting or Denying Payment]] will be much easier for you.

>[!info]- Additional Checklist Items for Physical Lab Studies
>- For any survey software (e.g., Qualtrics), the **blocking of the same IP address should be disabled**, as the same computers in our physical lab location will be used multiple times.

Please note that this **initial verification will not lead to the [[study launch]]**, and you will still have a couple of steps to complete after we give you a positive return. 
- If there are any study information we would like you to change, we will notify you. 
- When the necessary changes are incorporated, please email us again to carry out the verification procedure again.
- Once we give you a green light, you can continue with the next steps.
