
# Study Verification

>[!info] <i class="fa-solid fa-info"></i> &nbsp Checklist for All Studies
>- Checking the study on SONA in regards to selected study type among the types of studies, study name, brief abstract, and all the other items in "fill in the study information".  
>- Checking if you have incorporated [attention checks](attention-checks) in your survey. Even though this is not mandatory, we strongly advise you to do so, as the process of [granting or denying payment](granting-or-denying-payment) will be much easier for you.

>[!info] <i class="fa-solid fa-info"></i> &nbsp Additional Checklist Items for Physical Lab Studies
>- For any survey software (e.g., Qualtrics), the **blocking of the same IP address should be disabled**, as the same computers in our physical lab location will be used multiple times.
