/* Reset and base styles */
/* Reset and base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, button { /* Added button to the list */
    font-family: 'Cochin', serif; /* Change the font-family here */
    line-height: 1.6;
    color: #333;
}

body {
    background-color: #f8f9fa;
    font-size: 22px; /* Increase the font size as needed */
}

h1 {
    color: #007bff;
    font-size: 2.5em; /* Larger size for h1 */
}

h2 {
    font-size: 2em; /* Larger size for h2 */
}

h3 {
    font-size: 1.75em; /* Larger size for h3 */
}

p {
    font-size: 1em; /* Default size for paragraph text, usually the same as body */
}



/* Navigation Pane Styles */
.list-group-item {
    background-color: #f8f9fa;
    color: #333;
    border: none; /* Remove borders */
}
.list-group-item:hover,
.list-group-item:focus {
    background-color: #e9ecef;
    color: #000;
}
.list-group-item.active {
    background-color: #007bff;
    color: #fff;
}





/* Main Content Styles */
.content-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Style for unordered list items */
.content-container ul {
    list-style-type: disc; /* Default unordered list style */
    margin-left: 40px; /* Indentation for the list */
    padding-left: 0;
}

.content-container ul li {
    margin-bottom: 10px; /* Space between unordered list items */
}

/* Style for ordered list items */
.content-container ol {
    list-style-type: decimal; /* Default ordered list style */
    margin-left: 40px; /* Indentation for the list */
}

.content-container ol li {
    margin-top: 5px; /* Space above each ordered list item */
    margin-bottom: 5px; /* Space below each ordered list item */
}




/* Accordion Styles */
#accordion .card {
    border: none;
    background: none;
}

#accordion .card-header {
    background-color: #0b5dae;
    border-bottom: none;
    padding: 0.5em 1em; /* Increased padding */
}

#accordion .btn-link {
    color: white;
    text-align: left;
    width: 100%;
    padding: 0.5em 1em; /* Increased padding */
    font-size: 0.8em; /* Increased font size */
    text-decoration: none;
    box-sizing: border-box; /* Ensures padding is included in width */
}

#accordion .btn-link:hover,
#accordion .btn-link:focus {
    text-decoration: none;
    color: #ffffff;
}

#accordion .collapse.show .card-body a,
#accordion .card-body a {
    display: block;
    color: #868e96;
    padding: 0.5em 1em; /* Increased padding */
    font-size: 0.75em; /* Set font size */
    text-decoration: none;
    box-sizing: border-box; /* Ensures padding is included in width */
}

#accordion .collapse.show .card-body a:hover,
#accordion .card-body a:hover {
    color: #b90e0e;
}

#accordion .card-body {
    background-color: #f8f9fa;
    padding: 0.5em 1em; /* Consistent padding */
}

#accordion {
    padding-top: 20px;
}






/* Responsive and Helper Classes */
/* These are generally utility classes to help with spacing and responsiveness */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}







/* Callout Styles */

/* GENERAL */
.callout {
    padding: 15px;
    margin: 20px 0;
    border-left: 4px solid;
    border-width: 20px;
    background-color: #d7eaff;
    padding-left: 20px; /* Give enough space for the icon */
}

.callout button {
    display: block;
    background: #d7eaff;
    border: none;
    text-align: left;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
}
.callout ul, .callout ol {
    padding-left: 20px; /* Adjust as needed for indentation */
    margin-left: 1em;
}

.callout li {
    margin-bottom: 10px; /* Space between list items */
}



/* SCREENSHOT */
.callout-screenshot {
    border-color: #5f2eb9; /* Info blue */
}
.callout-screenshot button {
    color: #5f2eb9;
}

/* WARNING */
.callout-warning {
    border-color: #ff3b3b; 
}
.callout-warning button {
    color: #ff3b3b; 
}

/* ERROR */
/*    <i class="fa-regular fa-circle-xmark"></i>    */
.callout-error {
    border-color: #ff3b3b;
}
.callout-error button {
    color: #ff3b3b;
}

/* SUCCESS */
/*    <i class="fa-regular fa-thumbs-up"></i>    */
.callout-success {
    border-color: #4CAF50;
}
.callout-success button {
    color: #4CAF50;
}

/* INFO */
/*    <i class="fa-solid fa-info"></i>    */
.callout-info {
    border-color: #3532e7; /* Info blue */
}
.callout-info button {
    color: #3532e7;
}







.responsive-image {
    width: 98%; /* or any percentage that suits your design */
    height: auto; /* keeps the aspect ratio */
  }









