/* Reset and base styles */
/* Reset and base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, button { /* Added button to the list */
    font-family: 'Cochin', serif; /* Change the font-family here */
    line-height: 1.6;
    color: #333;
}

body {
    background-color: #f8f9fa;
    font-size: 22px; /* Increase the font size as needed */
}

h1 {
    color: #007bff;
    font-size: 2.5em; /* Larger size for h1 */
}

h2 {
    font-size: 2em; /* Larger size for h2 */
}

h3 {
    font-size: 1.75em; /* Larger size for h3 */
}

p {
    font-size: 1em; /* Default size for paragraph text, usually the same as body */
}



/* Navigation Pane Styles */
.list-group-item {
    background-color: #f8f9fa;
    color: #333;
    border: none; /* Remove borders */
}
.list-group-item:hover,
.list-group-item:focus {
    background-color: #e9ecef;
    color: #000;
}
.list-group-item.active {
    background-color: #007bff;
    color: #fff;
}





/* Main Content Styles */
.content-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Style for unordered list items */
.content-container ul {
    list-style-type: disc; /* Default unordered list style */
    margin-left: 40px; /* Indentation for the list */
    padding-left: 0;
}

.content-container ul li {
    margin-bottom: 10px; /* Space between unordered list items */
}

/* Style for ordered list items */
.content-container ol {
    list-style-type: decimal; /* Default ordered list style */
    margin-left: 40px; /* Indentation for the list */
}

.content-container ol li {
    margin-top: 5px; /* Space above each ordered list item */
    margin-bottom: 5px; /* Space below each ordered list item */
}




/* Accordion Styles */
#accordion .card {
    border: none;
    background: none;
}

#accordion .card-header {
    background-color: #0b5dae;
    border-bottom: none;
    padding: 0.5em 1em; /* Increased padding */
}

#accordion .btn-link {
    color: white;
    text-align: left;
    width: 100%;
    padding: 0.5em 1em; /* Increased padding */
    font-size: 1em; /* Increased font size */
    text-decoration: none;
    box-sizing: border-box; /* Ensures padding is included in width */
}

#accordion .btn-link:hover,
#accordion .btn-link:focus {
    text-decoration: none;
    color: #ffffff;
}

#accordion .collapse.show .card-body a,
#accordion .card-body a {
    display: block;
    color: #868e96;
    padding: 0.5em 1em; /* Increased padding */
    font-size: 1em; /* Set font size */
    text-decoration: none;
    box-sizing: border-box; /* Ensures padding is included in width */
}

#accordion .collapse.show .card-body a:hover,
#accordion .card-body a:hover {
    color: #b90e0e;
}

#accordion .card-body {
    background-color: #f8f9fa;
    padding: 0.5em 1em; /* Consistent padding */
}

#accordion {
    padding-top: 20px;
}






/* Responsive and Helper Classes */
/* These are generally utility classes to help with spacing and responsiveness */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}







/* Callout Styles */
.callout {
    padding: 15px;
    margin: 20px 0;
    border-left: 4px solid;
    background-color: #d7eaff;
}

.callout button {
    display: block;
    background: #d7eaff;
    border: none;
    text-align: left;
    padding: 0;
    font-size: 1em;
    color: #0b7000;
    cursor: pointer;
}

/* Style for different types of callouts */
.callout-info {
    border-color: #0b7000; /* Info blue */
}


.callout-screenshot {
    border-color: #f9ff4c; /* Info blue */
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    padding-left: 40px; /* Give enough space for the icon */
}




.callout-success {
    border-color: #4CAF50; /* Green for success */
}

/* Add additional styles for other types of callouts as needed */
.callout-warning {
    border-color: #ffeb3b; /* Yellow for warning */
}

.callout-danger {
    border-color: #f44336; /* Red for danger */
}

/* ... and so on for other types like 'info', 'note', etc. */

.callout ul, .callout ol {
    padding-left: 20px; /* Adjust as needed for indentation */
    margin-left: 1em;
}

.callout li {
    margin-bottom: 10px; /* Space between list items */
}


/* Images */
.img-responsive {
    max-width: 100%; /* This makes the image responsive, it will never be larger than its container */
    height: auto; /* This keeps the aspect ratio intact */
}
