body footer {
    text-align: center;
    padding: 1.25rem;
    background-color: #333 !important;
    color: #fff !important;
}

/* To target the paragraph specifically */
body footer p {
    color: #fff !important;
}
