/* Responsive and Helper Classes */
/* These are generally utility classes to help with spacing and responsiveness */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
