/* Reset and base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, button { /* Added button to the list */
    font-family: 'Cochin', serif; /* Change the font-family here */
    line-height: 1.6;
    color: #333;
}

body {
    background-color: #f8f9fa;
    font-size: 1.4rem; /* Increase the font size using rem */
}

h1 {
    color: #1d75e0;
    font-size: 2rem; /* Larger size for h1 using rem */
}

h2 {
    font-size: 1.75rem; /* Larger size for h2 using rem */
}

h3 {
    font-size: 1.5rem; /* Larger size for h3 using rem */
}

p {
    font-size: 1.3rem; /* Default size for paragraph text */
}

/* Link styles */
a {
    color: #164fac; /* Set the default link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth transition for color change */
}

a:hover, a:focus {
    color: #2cb0fd; /* Set the hover and focus color */
    text-decoration: underline; /* Add underline on hover */
}
